<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
        <script type="text/javascript" src="static/scripts/gallery.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1>liz & meg.</h1>
            <h2>
                <a href="{{ url_for('index') }}">Home</a>|<a href="{{ url_for('ceremony') }}">Ceremony</a>|<a href="{{ url_for('contact') }}">Send us a message 💌</a>
            </h2>

        {% block body %}
        
        {% endblock %}    
    </body>
</html>