{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section class="main">
<p> HELLO! We're so glad you're here! 
Get ready for some premium wedding content.
Check out the pics of us getting hitched in Frick Park, in the Paris of Appalachia, Pittsburgh, PA!
Fun fact, Frick Park was where we had our first date many moons ago (2009).</p>

<p>We were lucky enough to have 2 great friends capture the footage for us, and put it together as a very cute video. Thank you so much to Carrie & Clayton for the wonderful gift!</p>

<p>December 21, 2020 was the Winter Solstice! The great <a class='shown_link' href="https://www.nasa.gov/feature/the-great-conjunction-of-jupiter-and-saturn">🪐conjunction!✨</a> AND Our 4th anniversary! Talk about a hat trick!! (hockey! woo!)</p>

<p>We got married the old fashioned Quaker way and had a self-uniting ceremony... a fun feature of living in the Commonwealth of PA.</p>

<p>Our dear dear friends (and covid bubble) Katie & Bill, Erin, and Lauren graciously participated in our non-traditional (yet still old fashioned -- see above)
wedding and offered their blessings. They also said some really rad stuff about us.</p>

<p>It was sweet 😊</p>

<p>After 2 hours, and somehow making a Quaker ceremony longer than a Catholic Mass, we sent our friends off with dinner to-go. We went home to our fur-children. There was ice cream pie. There were sweatpants. It was all perfect.</p>
<br>
<h3>HIGHLIGHTS REEL</h3>
  <div class="video-gallery">
    <video width="100%" controls>
      <source src="https://video-liz-and-meg.s3.us-east-2.amazonaws.com/Meg+%26+Liz+12.21.20.mp4">
    </video> 
  </div> 

</section>   


 
{% endblock %}