{% extends 'base.html' %}

{% block head %}
<style>
    body {
      height: 100vh;
      margin: 0px;
      background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/ADC8D187-588F-4127-8F52-876E5F72A7D7_4_5005_c.jpeg');
      -webkit-background-size: 100%; 
      -moz-background-size: 100%; 
      -o-background-size: 100%; 
      background-size: 100%; 
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover; 
      background-size: cover;
    }
    @media only screen and (max-width: 981px) {
      body {
        height: 100vh;
        margin: 0px;
        background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/165B479E-CA14-446D-A591-04EE8C8E8AC2_4_5005_c.jpeg');
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
      }
    }
    @media only screen and (max-width: 375px) {
      body {
        height: 100vh;
        margin: 0px;
        background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/165B479E-CA14-446D-A591-04EE8C8E8AC2_4_5005_c.jpeg');
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
      }
    }

</style>
{% endblock %}


{% block body %}


{% endblock %}