{% extends 'base.html' %}

{% block head %}
<style>
    body {
      height: 100vh;
      margin: 0px;
      background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/31FBEB46-0032-4BF3-B93A-804671AE6363_1_105_c.jpeg');
      -webkit-background-size: 100%; 
      -moz-background-size: 100%; 
      -o-background-size: 100%; 
      background-size: 100%; 
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover; 
      background-size: cover;
    }
    @media only screen and (max-width: 981px) {
      body {
        height: 100vh;
        margin: 0px;
        background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/4CD2EDAE-C983-415B-A309-E47E8373A58B_1_105_c.jpeg');
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
      }
    }
    @media only screen and (max-width: 375px) {
      body {
        height: 100vh;
        margin: 0px;
        background-image: url('https://lizmegmobile.s3.us-east-2.amazonaws.com/4CD2EDAE-C983-415B-A309-E47E8373A58B_1_105_c.jpeg');
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
      }
    }

</style>
{% endblock %}


{% block body %}


{% endblock %}