{% extends 'base.html' %}

{% block body %}
<section class="party">
<h3 style="display:flex;justify-content:center;">September 18, 2021 @ 6:00pm</h3>
<h3 style="display:flex;justify-content:center;">The reception will be held at:</h3>
<address style="font-style:normal;display:flex;justify-content:center;color:white;">
  The Loudoun House <br>
  
  209 Castlewood Dr <br>
  Lexington, KY 40505 <br>
</address>

<img class="loudoun" src="https://lizmegmobile.s3.us-east-2.amazonaws.com/loudoun.jpg">

<h3 style="display:flex;justify-content:center;">Are we registered?</h3>
<p style="display:block;justify-content:center;">We don't expect gifts at all! <br>
If you'd still like to gift something, we are always doing house projects and can use Home Depot or Lowes gift cards. <br>
We are also going to Colorado and New Mexico on our honeymoon, 
and contributions to our <a class="shown_link" href="https://www.honeyfund.com/wedding/toole-pantalone-09-18-2021">Honeyfund</a> are greatly appreciated.
</p>
<br>
</section>

{% endblock %}